<div class="mt-16">
  <img src="/assets/images/about-me/main.png" alt="" />
  <div class="flex">
    <div class="p-10 lg:p-14 md:block hidden max-w-1/2">
      <img
        src="/assets/images/about-me/main.png"
        alt=""
        class="rounded-sm max-h-[500px]"
      />
    </div>
    <div class="p-6 items-center w-full md:w-auto text-center md:text-left md:grid">
      <div>
        <h2 class="font-poppins md:text-2xl text-xl">¡HOLA! Mi nombre es</h2>
        <h1 class="font-poppins md:text-3xl text-xl">BETIANA VAIARINI</h1>
        <p class="font-montserrat mt-6 md:text-xl text-md">
          Soy fotógrafa infantil y de familias en Lloret de Mar, Girona
        </p>
      </div>
    </div>
  </div>
  <div class="px-4 md:px-8 py-6">
    <h2 class="font-poppins md:text-2xl text-xl mb-4">DETRÁS DEL LENTE...</h2>
    <p class="text-sm md:text-base">
      Soy Beti, una fotógrafa apasionada por capturar la esencia y la belleza de
      cada ser, lugar y momento especial. Mi formación inicial fué el Dibujo y
      el Diseño Gráfico, y siempre estuve en contacto con el arte y la creación,
      rodeada de papeles, telas y pinturas, y con una cámara fotográfica como
      hobby. Esta pasión por congelar momentos únicos en el tiempo a través de
      la fotografía ha sido siempre una parte fundamental de mi vida, pero fue
      el nacimiento de mi hija Isabella hace 8 años lo que me inspiró a
      dedicarme profesionalmente a este arte. Como esposa y madre de tres hijas,
      la vida en familia es muy importante para mí, y preservar esos instantes
      irrepetibles y únicos fueron mi motor para capacitarme. Como amante del
      arte, disfruto enormemente del proceso de edición y retoque, transformando
      cada imagen en una pieza atemporal y llena de magia. Mi objetivo es
      ofrecerte fotografías que puedas atesorar como pequeñas obras de arte
      cargadas de recuerdos.
    </p>
  </div>
</div>
