<div class="w-full">
  <img
    src="/assets/images/maternity/DSC_8600.jpg"
    class="width-full md:hidden block"
    alt="maternity-mobile-image"
  />
  <img
    src="/assets/images/maternity/DSC_8621.jpg"
    class="width-full hidden md:block"
    alt="maternity-web-image"
  />

  <div class="bg-secondary my-6 md:p-8 p-4 text-white text-center">
    <h3 class="font-poppins font-light text-lg md:text-2xl md:mb-6 mb-4">
      ¿QUÉ VALOR TIENEN LOS RECUERDOS?
    </h3>
    <p class="text-sm md:text-md font-montserrat lg:text-lg">
      Las fotografías tienen una capacidad evocadora que nada puede igualar. El
      tiempo pasa, las personas cambiamos, nuestra memoria se vuelve selectiva y
      pasajera... y sin embargo, las fotografías siempre estarán ahí. <br />
      Como fotógrafa infantil y de familia, tengo el privilegio de retratar
      historias desde mi visión particular y artística, que me ayudarán a crear
      un testimonio único y de calidad, con la promesa de que viajarás en el
      tiempo cada vez que mires tus fotografías y se volverán invaluables para
      tí y tus seres queridos.
    </p>
  </div>
  <h3
    class="font-montserrat font-normal text-lg md:text-2xl md:mb-6 mb-4 text-center"
  >
    Nuestros servicios
  </h3>
  <app-carrusel [servicesList]="servicesList" class="block md:mx-16 mx-8" />
</div>
